<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="canvas container">
        <h1 class="game-title">Dragon Hunt</h1>
        <div id="loading-screen-container">
            <span class="loading-text">No dragons were harmed in the production of this game.</span>  
                <!-- <span class="loading-text">Developed by: Henry Chu</span>   -->
                <div id="start-menu-container">
                    <div id="start-menu" class="start-menu">
                        <h3>Welcome to</h3>
                        <h2>Dragon Hunt</h2>
                        <p id="instructions"></p>
                        <p>Instructions: Aim with your cursor and click to shoot the dragons! Each dragon is worth 10 points!</p>
                        <button id='start-game'>Start game</button>
                    </div>
                </div>
                
                <canvas id="game-canvas"></canvas>
        </div>
    </div>
</body>
</html>