<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <div class="game-title-container">
        <h1 class="game-title">Dragon Hunt</h1>
    </div>
    <div class="instructions"> Instructions: Use your cursor to aim and take down the dragons! Each dragon is worth 10 points, take down as many as you can in the alloted time! </div>
</head>
<body>
    <canvas id="game-canvas"></canvas>
</body>
</html>

<!-- <div id="start-menu">
    <h3>Welcome to</h3>
    <h2>Dragon Hunt</h2>
    <p id="instructions"></p>
    <p>Aim with your cursor, shoot the dragons, that's it!</p>
    <button id='start-game'>Start game</button>
</div> -->