<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
        <div id="start-menu">
            <h3>Welcome to</h3>
            <h2>Dragon Hunt</h2>
            <p id="instructions"></p>
            <p>Aim with your cursor, shoot the dragons, that's it!</p>
            <button id='start-game'>Start game</button>
        </div>
        
        <canvas id="game-canvas"></canvas>
</body>
</html>
