<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body>
    <div id="canvas container">
        <!-- <h1 class="game-title">Dragon Hunt</h1> -->
        <div id="loading-screen-container">
            <span class="loading-text">No dragons were harmed in the production of this game.</span>  
                <!-- <span class="loading-text">Developed by: Henry Chu</span>   -->
                <div id="start-menu-container">
                    <div id="start-menu" class="start-menu">
                        <h3>Welcome to</h3>
                        <h1>Dragon Hunt</h1>
                        <p class="instructions">
                            Instructions: Aim with your cursor and click to shoot the dragons! Defeat all the dragons before time runs out!
                            (Maximize screen for best view.)
                        </p>
                        <button id='start-game'>Start game</button>
                    </div>
                </div>
                
                <canvas tabIndex="1" id="game-canvas"></canvas>
                <div class="game-navbar">
                    <div class="game-navbar-sections">
                        <div class="ammo-indicator">
                        </div>
                    </div>
                    <div class="game-navbar-sections">
                        <span class="timer"></span>
                    </div>
                    <div class="game-navbar-sections">
                        <div class="dragon-counter-container">
                            <span class="dragon-counter"></span>
                        </div>
                    </div>
                </div>

                <div id="end-menu-container">
                    <div id="end-menu">
                            TEST MY VIBE

                    </div>
                </div>
        </div>
    </div>
</body>
</html>