// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    // display: flex;
    // // justify-content: center;
    // align-items: center;
    // background-color: red;
    // overflow: auto;
}

#game-canvas {
    border: solid;
    // display; block;
    // margin: 0 auto;
    // margin-left: auto;
    // margin-right: auto;
    // justify-content; center;
}

.cursor {
    cursor: crosshair
}
